@{
    ViewBag.Title = "IN";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="navbar-ge-side col-md-3">
            <nav>
                <ul class="nav nav-pills nav-stacked span2">
                    <li>@Html.ActionLink("О кафедре", "Index", "Home")</li>
                    <li>@Html.ActionLink("История кафедры", "History", "Home")</li>
                    <li>@Html.ActionLink("Состав кафедры", "Sostav", "Home")</li>
                    <li>@Html.ActionLink("Наука кафедрые", "Nauka", "Home")</li>
                    <li>@Html.ActionLink("Научные труды", "Works", "Home")</li>
                    <li>@Html.ActionLink("Наше творчество", "Art", "Home")</li>
                    <li>@Html.ActionLink("Выпускники кафедры", "FinishHim", "Home")</li>
                    <li>@Html.ActionLink("Как нас найти", "Contacts", "Home")</li>
                                    </ul>
            </nav>
        </div>
        <div class="col-md-9 content-block">
       @RenderBody()
        </div>